<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <title>EmpanadaReview | Reseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"><link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <style>
        .editButton {
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #4caf50;
            border-radius: 5px;
        }
    </style>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

        <section id="contenido">
            <div class="center">

                <br>
                <h1 th:text="${postDB.titulo}" style="font-size: xx-large"></h1>  <h4 th:text="${postDB.autor}"></h4> <h5 th:text="${postDB.postDate}"></h5><br>

                <p th:text="${postDB.review}"></p>
                <br>

                <a class="editButton" th:href="@{/editPost/}+${postDB.idPub}">Editar</a>
            </div>
        </section>

        <footer id="pieDePagina">
            Derechos reservados DreamTeam &reg; 2022
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
            
        </footer>
    </body>
</html>