<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org"
      lang="es">
    <head th:fragment="head">
        <title>EmpanadaReview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="html, css, web, fidelitas, comida">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-inverse" style="background-color: #c12d31; border-radius: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src="/images/favicon-32x32.png" width="25" height="25" alt=""/>
                        </a>
                        <a class="navbar-brand" href="/" style="color: white;">EmpanadaReview</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="color: white;" sec:authorize="hasAnyRole('ADMIN', 'USER')"><span sec:authentication="name">Usuario</span></a></li>
                        <li><a href="/logout" style="color: white;" sec:authorize="hasAnyRole('ADMIN', 'USER')">Logout</a></li>
                        <li><a href="/login" style="color: white;" sec:authorize="!hasAnyRole('ADMIN', 'USER')">Login</a></li>
                        <li><a href="/Review.html" style="color: white;">Reseñas</a></li>
                        <li><a href="/Restaurants.html" style="color: white;">Restaurantes</a></li>
                        <li><a href="/Recommendations.html" style="color: white;">Recomendaciones</a></li>
                    </ul>
                </div>
            </nav>
        </header>


        <footer th:fragment="footer" class="position-fixed bottom-0 start-0 end-0 bg-danger text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY [[#{plantilla.derechos}]]
                        <a th:href="@{/(lang=es)}">ES</a> | 
                        <a th:href="@{/(lang=en)}">EN</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
