<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org"
      lang="es">
    <head th:fragment="head">
        <title>[[#{accion.titulo}]] | [[#{accion.sobre}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="html, css, web, fidelitas, comida">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <style>
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            padding: 10px;
        }
        .grid-container > div {
            text-align: center;
            padding: 20px 0;
            font-size: 18px;
        }
    </style>

    <body>
        <header th:replace="layout/plantilla :: header"></header>S

        <section id="contenido">

            <div class="center">
                <br>
                <h1>DreamTeam</h1>
                <br><br>
                <p style="font-size: 18px;">
                    [[#{aboutus.primero}]]<br>
                    [[#{aboutus.segundo}]]<br><br><br>
                    [[#{aboutus.tercera}]]<br><br>
                </p>



            </div>
            <br><br><br><br>
            <div class="grid-container">
                <div class="item1">
                    <figure>
                        <img src="/images/Gabriel.png" alt="" class="center-image"/>
                        <figcaption class="center-image">[[#{aboutus.gabriel}]]</figcaption>
                    </figure>
                </div>
                <div class="item2">
                    <figure>
                        <img src="/images/Lucía.png" alt="" class="center-image"/>
                        <figcaption class="center-image">[[#{aboutus.lucia}]]</figcaption>
                    </figure>
                </div>
                <div class="item3">
                    <figure>
                        <img src="/images/Esteban.png" alt="" class="center-image"/>
                        <figcaption class="center-image">[[#{aboutus.esteban}]]</figcaption>
                    </figure>
                </div>
            </div>



        </section>

        <footer id="pieDePagina">
            <a th:href="@{/about}">&COPY [[#{plantilla.derechos}]]</a>
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
</html>
