<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org"
      lang="es">
    <head th:fragment="head">
        <title>[[#{accion.titulo}]] | [[#{accion.inicio}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="html, css, web, fidelitas, comida">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>S

        <section id="contenido">
           

            <br>
        </section>

        <footer id="pieDePagina">
            <a th:href="@{/about}">&COPY [[#{plantilla.derechos}]]</a>
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
</html>
