<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org"
      lang="es">
    <head th:fragment="head">
        <title>[[#{accion.titulo}]] | [[#{accion.inicio}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="html, css, web, fidelitas, comida">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>S

        <section id="contenido">
            <div class="center">
                <br><br>
                <a href="/Page01.html" style="color: black; font-weight: bold;">&RightArrow;</a>
                <h2 class="w400" ><u>[[#{accion.mensajecomidas}]]</u> (1/3)</h2>
            </div>

            <br>
            <div class="center">
                <article>
                    <header><h3>&#8226;   Tacos con repollo</h3></header><br><br>
                    <p class="descripcion" id="tacos_con_repollo">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p><br><br>
                    <figure>
                        <img src="images/tacos-ticos.jpg" alt="" width="400" class="center-image"/>
                        <figcaption class="center-image">Cortesía de "Tacos MAX"</figcaption>
                    </figure>
                </article>
            </div>

            <br>
            <div class="center">
                <article>
                    <header><h3>&#8226;   Chifrijo</h3></header><br><br>
                    <p class="descripcion" id="chifrijo">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p><br><br>
                    <figure>
                        <img src="images/chifrijo.jpg" alt="" width="400" class="center-image"/>
                        <figcaption class="center-image">Cortesía de "Chicharronera el Pizote"</figcaption>
                    </figure>
                </article>
            </div>
            

            <br>
        </section>

        <footer id="pieDePagina">
            &COPY [[#{plantilla.derechos}]]
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
</html>
