<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head>
        <title>[[#{accion.titulo}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        

    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section id="contenido">
            <div class="center">
                <br><br>
                        
                <a href="/" style="color: Black; font-weight: bold;">&LeftArrow;</a><a href="/Page02.html" style="color: Black; font-weight: bold;">&RightArrow;</a>
                <h2><u>[[#{accion.mensajecomidas}]]</u> (2/3)</h2>
            </div>
            <br>
            <div class="center">
                <article>
                    <header><h3>&#8226;   Arroz con leche</h3></header><br><br>
                    <p class="descripcion" id="arroz_con_leche">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p><br><br>
                    <figure>
                        <img src="images/Arroz_con_leche.jpg" alt="" width="400" class="center-image"/>
                        <figcaption class="center-image">Cortesía de "Dos Pinos"</figcaption>
                    </figure>
                            <a href="/tablas/ArrozConLeche">Ver Ingredientes</a>
                </article>
            </div>

            <br>
            <div class="center">
                <article>
                    <header><h3>&#8226;   Patí</h3></header><br><br>
                    <p class="descripcion" id="pati">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p><br><br>
                    <figure>
                        <img src="images/pati.jpg" alt="" width="400" class="center-image"/>
                        <figcaption class="center-image">Cortesía de "La cuchara caribeña"</figcaption>
                    </figure>
                            <a href="/tablas/Pati">Ver Ingredientes</a>
                </article>
            </div>

            <br>
        </section>

        <footer id="pieDePagina">
            <a th:href="@{/about}">&COPY [[#{plantilla.derechos}]]</a>
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
</html>
