<!DOCTYPE html>
<html>
    <head>
        <title>[[#{accion.titulo}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section id="contenido">
            <div class="center">
                <br><h2><strong><u>[[#{accion.fav}]]</u></strong></h2><br>
            </div>
            <div class="center">
                <article id="prim_rest">
                    <header><h3>&#8226;   El novillo alegre: Parrillada argentina</h3></header>
                    <br><br>
                    <iframe src="https://restauranteelnovilloalegre.com/" width="1000" height="400" ></iframe>
                </article>
            </div>

            <br>
            <div class="center">
                <article id="seg_rest">
                    <header><h3>&#8226;   Chicharronera Cacique Acserí</h3></header>
                    <br><br>
                    <iframe src="http://www.caciqueacseri.com/" width="1000" height="400" ></iframe>
                </article>
            </div>

            <br>

            <div class="center">
                <article id="ter_rest">
                    <header><h3>&#8226;   Pastelería Inglesa</h3></header>
                    <br><br>
                    <iframe src="https://pasteleriainglesa.com/" width="1000" height="400" ></iframe>
                </article>
            </div>

            <br>

        </section>

        <footer id="pieDePagina">
            &COPY [[#{plantilla.derechos}]]
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
</html>
