<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Empanada Review</title>
        <meta charset="UTF-8">
        <link href="../../static/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/css/menu.css" rel="stylesheet" type="text/css"/>
        <style>
            .contenido {
                text-align: center;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                margin-left: -250px;
                margin-top: -75px;
                width: 500px;
                height: 150px;
                background-color: #c12d31;
                position: fixed;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        
        </div>
        
        <div class="contenido">
            
            <h2>[[#{e403.titulo}]]</h2>
            <p>[[#{e403.texto}]]</p>
            
            <a th:href="@{/}">[[#{accion.regresar}]]</a>
        </div>
    </body>
</html>
