<!DOCTYPE html>
<html lang="es">
    <head>
        <title>EmpanadaReview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="background-color: #c12d31; border-radius: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src="/images/favicon-32x32.png" width="25" height="25" alt=""/>
                        </a>
                        <a class="navbar-brand" href="/" style="color: white;">EmpanadaReview</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Page01.html" style="color: white;">&LeftArrow;</a></li>
                        <li><a href="/Review.html" style="color: white;">Reseñas</a></li>
                        <li><a href="/Restaurants.html" style="color: white;">Restaurantes</a></li>
                        <li><a href="/Recommendations.html" style="color: white;">Recomendaciones</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section id="contenido">
            <div class="center">
                <br><br>
                <h2><u>Comidas nacionales principales</u> (3/3)</h2>
            </div>
            <br>
            <div class="center">
                <article>
                <header><h3>&#8226;   Gallo Pinto</h3></header><br><br>
                <p class="descripcion" id="gallo_pinto">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p> <br> <br>
                <figure>
                    <img src="images/gallo_pinto.jpg" alt="" width="400" class="center-image"/>
                    <figcaption class="center-image">Cortesía de "La desayunada"</figcaption>
                </figure>
            </article>
            </div>
            
            <br>
            <div class="center">
                <article>
                <header><h3>&#8226;   Vigorón</h3></header><br><br>
                <p class="descripcion" id="chifrijo">Lorem ipsum dolor sit amet consectetur adipiscing elit, suscipit mattis nunc euismod suspendisse nisl. Rhoncus netus magnis quisque duis et risus consequat faucibus pretium, accumsan nec pellentesque ante nullam nisl tempus lacus fermentum, a fringilla integer vehicula viverra luctus phasellus ultricies. Massa hac blandit ligula class id at ac urna, a mauris primis integer phasellus dui ridiculus, diam vehicula curae risus fusce fames felis.</p> <br> <br>
                <figure>
                    <img src="images/vigoron.jpg" alt="" width="400" class="center-image"/>
                    <figcaption class="center-image">Cortesía de "Chicharronera cacique"</figcaption>
                </figure>
            </article>
            </div>
            
            <br>
        </section>
        
        <footer id="pieDePagina">
            Derechos reservados DreamTeam &reg; 2022
            <a th:href="@{/(lang=es)}">ES</a> | 
            <a th:href="@{/(lang=en)}">EN</a>
        </footer>
    </body>
    
</html>
